@{
  Layout = "_Layout";
}

<div class = "containter>">
  <h2>Authentication with Identity</h2>
  <hr />
  <br>

  <p>@Html.ActionLink("Register", "Register")</p>
  <P>@Html.ActionLink("Home", "Index", "Home")</P>
</div>