@{
  Layout = "_Layout";
}

<div class = "containter>">
  <h2>Authentication with Identity</h2>
  <hr />
  <br>
  @if (User.Identity.IsAuthenticated)
  {
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("Logoff", "Account"))
    {
      <input type="submit" class="btn btn-primary" value="log out" />
    }
  }
  else
  {
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
  }

  <P>@Html.ActionLink("Home", "Index", "Home")</P>
</div>