<!DOCTYPE html>
<html>
  <head>
    <title>My To-Do List!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='~/img/maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg' height="200px"/></li>
      <li><img src='~/img/sonaal-bangera-kpDO0woxxec-unsplash.jpg' height='200px'/></li>
      <li><img src='~/img/zdenek-machacek-jvdvp6bplTs-unsplash.jpg' height="100px"/></li>
    </ul>
  </body>
</html>